RewriteEngine On

# Si no es un archivo o directorio existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribe internamente la URL agregando la extensión .php
RewriteRule ^([^\.]+)$ $1.php [L]
